<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hospital_root"
              name="HMS"
              web_icon="om_hospital2, static/description/coder.png"
              sequence="35"
              />
     
    <menuitem id="menu_frontdesk"
              name="Front Desk"
              parent="menu_hospital_root"
              />         
              
    <menuitem id="menu_patients"
              name="Patients"
              parent="menu_frontdesk"
              action="action_hospital_patient"
              />

   <menuitem id="menu_patients_readonly"
              name="View Patients"
              parent="menu_frontdesk"
              action="action_hospital_readonly_patient"
              
              />
           
           
   <menuitem id="menu_appointment"
              name="Appointments"
              parent="menu_frontdesk"
              action="action_hospital_appointment"
              />
   <menuitem id="menu_appointment_line"
              name="Appointment Lines"
              parent="menu_frontdesk"
              action="action_hospital_appointment_line"
              />
    <menuitem id="menu_configuration"
              name="Configuration"
              sequence="100"
              parent="menu_hospital_root"
              />
    <menuitem id="menu_patient_tag"
              name="Tags"
              parent="menu_configuration"
              action="action_patient_tag"
              />
   
    
      
</odoo>